<html>
  <head>
    <title>Sewage Discharge Notifications - Admin</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/main/normalize.css" />
    <link rel="stylesheet" href="/main/main.css" />
    <link rel="stylesheet" href="/main/sdn.css" />
  </head>
  <body>
    <div id="titlewrapper">
	  <div id="titlepanel">
        <h3><a href="http://www.rivertac.org/"><img src="/images/tac-143x59.png" alt="Thames Anglers' Conservancy" align="absmiddle"></a>
        Sewage Discharge Notifications - Admin</h3>
	  </div>
	</div>
	
	<div class="results">
	  <h4>Locations <a href="/admin/setup">setup</a> </h4>

	  {% for loc in locations %}
	    <li>
		  <span class="location">{{ loc.name }} - {{ loc.description }} [{{ loc.lat }},{{ loc.long }}]</span>
		</li>
      {% endfor %}
	  <hr/>
	</div>
	
    <div class="controls">
      <form method="GET">
        <label for="maxresults">Display last </label><input type="text" name="maxresults" value="{{ maxresults }}" size="3"/>
        <input type="submit" value="Refresh"/>
      </form>
      <hr/>
	</div>
	
    <div class="results">
	  <h4>Discharges</h4>
      <ol>
      {% for sdn in notifications %}
        <li>
	      <span class="date">{{ sdn.localdate.strftime('%a %d %b %Y %H:%M %Z') }}</span>
		  <span class="location">{{ sdn.location }}</span><br/>
          <hr/>
        </li>
      {% endfor %}
      </ol>
      <div id="asoftime">(as of {{ now.strftime('%a %d %b %Y %H:%M %Z') }})</div>
	</div>
	
    <div class="footer">
    <hr/>
    Application developed by <a href="http://www.rivertac.org/">Thames Anglers' Conservancy</a>, a supporter of the <a href="http://www.thamestunnelnow.org/">Thames Tunnel Now!</a> coalition.<br/>
    Information extracted from <a href="http://www.thameswater.co.uk/rowers">rower notifications</a> sent by Thames Water.<br/>
    <img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine"/>
    </div>
  </body>
</html>