<html>
  <head>
    <title>Sewage Discharge Notifications</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="main/normalize.css" />
    <link rel="stylesheet" href="main/main.css" />
    <link rel="stylesheet" href="main/sdn.css" />
  </head>
  <body>
    <div id="titlewrapper">
	  <div id="titlepanel">
        <h3><a href="http://www.rivertac.org/"><img src="images/tac-143x59.png" alt="Thames Anglers' Conservancy" align="absmiddle"></a>
        Sewage Discharge Notifications</h3>
	  </div>
	</div>
	
    <div class="controls">
      <form method="GET">
        <label for="num">Display last </label><input type="text" name="num" value="{{ num }}" size="3"/>
        <select name="format"/>
          <option value="" {% if format != 'twitter' %} selected="true" {% endif %}>notifications</option>
          <option value="twitter" {% if format == 'twitter' %} selected="true" {% endif %}>tweets</option>
        </select>
        <input type="submit" value="Refresh"/>
      </form>
      <hr/>
	</div>
	
    <div class="results">
      <ol>
      {% for sdn in notifications %}
        <li>
	      <span class="date">{{ sdn.localdate.strftime('%a %d %b %Y %H:%M %Z') }}</span>
		  <span class="location">{{ sdn.location }}</span><br/>
          <span class="sender">From: {{ sdn.sender }}</span><br/>
          <span class="notification">
          {% if (format == 'twitter') %}
              {{ sdn.tweet|escape }}
              {% if (sdn.tweet_status) %} <span class="twstatus">[{{ sdn.tweet_status }}]</span> {% endif %}
              {% if (sdn.tweet) %} <span class="twstatus">[{{ sdn.tweet|length }}]</span> {% endif %}
          {% else %}
              {{ sdn.content|escape }}
          {% endif %}
          </span>
          <hr/>
        </li>
      {% endfor %}
      </ol>
      <div id="asoftime">(as of {{ now.strftime('%a %d %b %Y %H:%M %Z') }})</div>
	</div>
	
    <div class="footer">
    <hr/>
    Application developed by <a href="http://www.rivertac.org/">Thames Anglers' Conservancy</a>, a supporter of the <a href="http://www.thamestunnelnow.org/">Thames Tunnel Now!</a> coalition.<br/>
    Information extracted from <a href="http://www.thameswater.co.uk/rowers">rower notifications</a> sent by Thames Water.<br/>
    <img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine"/>
    </div>
  </body>
</html>