body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
  padding: 5px 5px 5px 5px;
}


img {
  border: none;
}

hr {
  color: black;
  width: 90%;
  height: 1px;
}

input#maxresults {
  width: 2em;
}

input#datefrom {
  width: 6em;
}

input#dateto {
  width: 6em;
}

label {
  font-size: 14px;
}

div#titlewrapper {
  float: left;
  clear: both;
  width: 100%;
  min-width: 800px;
}

div#titlepanel {
  float: left;
  width: 90%;
  min-width: 600px;
}

div#adminpanel {
  float: right;
  text-align: right;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  border: none;
}

div#adminpanel a {
  outline: none;
}

div#adminpanel a img {
  visibility: hidden;
}

div#adminpanel a:hover img {
  visibility: visible;
}

.controls {
  float: left;
  clear: both;
  width: 100%;
  min-width: 800px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.results {
  float: left;
  clear: both;
  width: 100%;
  min-width: 800px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.results ol {
  list-style-type: decimal;
}

.results li {
  font-size: 13px;
}

.results .date {
  font-weight: bold;
  color: black;
}

.results .location {
  font-style: italic;
  color: blue;
}

.results .sender {
  font-size: 12px;
  color: darkblue;
  white-space: pre;
}

.results .notification {
  font-size: 11px;
  color: black;
}

.results .twstatus {
  color: #b0b0b0;
}

#asoftime {
  font-style: italic;
  font-size: 10px;
}

.footer {
  float: left;
  clear: both;
  width: 100%;
  min-width: 600px;
  font-size: 10px;
}

.footer img {
  margin-top: 5px;
}

div#debug {
  font-size: 10px;
}

div#debug hr {
  width: 50%;
}

