<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="sdnApp">
  <head>
    <meta charset="UTF-8">
    <title>Sewage Discharge Notifications</title>
    <link rel="icon" href="images/favicon.png" />
    <link rel="stylesheet" href="main/normalize.css" />
    <link rel="stylesheet" href="main/main.css" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="main/sdn.css" />
	
    <!--[if lte IE 8]>
	  <meta http-equiv="refresh" content="1; url=/sdn" >
	<![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" ></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/i18n/jquery.ui.datepicker-en-GB.js" ></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js" ></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-resource.min.js" ></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js" ></script>
	<script src='main/vendor/ng-infinite-scroll.min.js'></script>
    <script src="main/controller.js"></script>
  </head>
  <body ng-controller="sdnCtrl">
    <div id="titlewrapper">
	  <div id="titlepanel">
        <h3><a href="http://www.rivertac.org/"><img src="images/tac-143x59.png" alt="Thames Anglers' Conservancy" align="absmiddle"></a>
        Sewage Discharge Notifications</h3>
      </div>
	  <div id="adminpanel">
        <a href="/admin"><img src="images/admin.png" width="30" height="30" alt="admin" align="absmiddle"></a>
	  </div>
	</div>

    <div class="controls">
      <form>
        <label for="maxresults">Display up to: </label>
        <input id="maxresults" type="text" name="maxresults" value="{{ maxresults }}" ng-model="maxresults" ng-blur="changeMaxResults()"/>

        <select id="format" name="format" ng-model="format">
          <option ng-repeat="o in formats" value="{{o.id}}" ng-selected="{{$first}}">{{o.descr}}</option>
        </select>

        <label for="datefrom">between: </label><input id="datefrom" type="text" placeholder="Date from" ng-model="datefrom" ng-change="processForm()"/>
        <label for="dateto"> - </label><input id="dateto" type="text" placeholder="Date to" ng-model="dateto" ng-change="processForm()"/>

        <label for="dischargesource">from:</label>
        <select id="dischargesource" name="source" ng-model="source" ng-change="processForm()">
          <option ng-repeat="o in sources" value="{{o.id}}" ng-selected="{{$first}}">{{o.descr}}</option>
        </select>
      </form>
      <hr/>
	</div>

    <div class="results">
      <ol>
        <li ng-repeat="sdn in response.notifications">
          <span class="date">{{ sdn.date | date:'dd-MMM-yyyy HH:mm' }}</span>
          <span class="location">{{ sdn.location | locationDescription }}</span><br/>
          <span class="sender">{{ sdn | notificationSender:format }}</span>
          <span class="notification">{{ sdn | notificationMsg:format }}</span>
		  <span class="twstatus">{{sdn | tweetStatus:format }}</span>
          <hr/>
        </li>
      </ol>
      <div id="asoftime">(data as of {{ response.metadata.now | date:'dd-MMM-yyyy HH:mm:ss' }})</div>
    </div>

    <div class="footer">
	  <hr/>
      Application developed by <a href="http://www.rivertac.org/">Thames Anglers' Conservancy</a>, a supporter of the <a href="http://www.thamestunnelnow.org/">Thames Tunnel Now!</a> coalition.<br/>
      Information extracted from <a href="http://www.thameswater.co.uk/rowers">rower notifications</a> sent by Thames Water.<br/>
      <img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine"/>
    </div>
  </body>
</html>